.feed{
    flex: 0.34;
   
    display: flex;
    flex-direction: column;
   height: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
    box-sizing: border-box;
    background-color: #eff2f5 ;
    
}
.feed::-webkit-scrollbar{
    display: none;
}